.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 1rem;
    color: hsl(208, 7%, 46%);
  }
  .card-container:hover{
    border-radius: 6px;
  transform: translateY(-10px);
box-shadow: 0 4px 8px rgb(137, 137, 172); }

  .card-text p {
    margin: 10px 0;
  }
